/*common*/
.list_tit{height:64px;background:url(../images/list_tit.jpg) no-repeat;}
.list_tit h2,.list_tit h1,.list_tit strong{float:left;width:150px;height:64px;line-height:64px;text-align:center;font-size:24px;font-family:\5FAE\8F6F\96C5\9ED1;color:#ea6f3e;font-weight:normal;}
.list_tit span{float:right;margin:26px 20px 0 0;color:#999;font-family:\5B8B\4F53}
.list_tit a{margin:0 5px;color:#999;}
.list_tit a:hover{color:#ea6f3e;}
.list_con{padding:20px 38px 0;background:#fff;}
.list_ul li{float:left;width:100%;height:35px;line-height:35px;color:#84250a;overflow:hidden;border-bottom:1px dotted #ccc;}
.list_ul span{float:right;}
.list_ul a{color:#84250a;}
.list_ul a:hover{color:#ad3900;}
/*page*/
.pagenav{font-size:0;width:100%;height:24px;line-height:24px;padding:14px 0 22px;text-align:center;overflow:hidden}
.pagenav a{padding:2px 7px;margin:0 3px;color:#e0e0e0;font:12px/22px \5FAE\8F6F\96C5\9ED1;background:#4e4f4f;}
.pagenav a:hover{text-decoration:none;background:#ea6f3e;}
.pagenav .page_cur{color:#fff;background:#ea6f3e}
.list_con h1{height:46px;line-height:46px;font-size:18px;color:#333;font-weight:normal;font-family:\5FAE\8F6F\96C5\9ED1;text-align:center;overflow:hidden}
.art_author{height:20px;padding-bottom:12px;border-bottom:1px solid #e6e6e6;color:#888;text-align:center;overflow:hidden}
.con_input{padding:20px 0;color:#333;line-height:2.0;overflow:hidden}
.con_input img{margin:4px 0;max-width:616px}
.art_pn{padding:35px 0 14px;margin-top:20px;color:#ad3900;border-top:1px solid #e6e6e6;}
.dot_ul a:hover{text-decoration:none;color:#ad3900;}
.art_pn a{font-size:14px;height: 30px;line-height: 30px;padding:0 12px;color:#888}
.art_pn a:hover{color:#ad3900;text-decoration: underline;}
.art_pn span{display:block;}

.art_pn .none a{color:#888;}


.list_ser{padding:20px 28px 9px;}
.server_tit{height:54px;border-bottom:1px solid #e6e6e6;}
.server_tit .fu_box{padding-top: 20px;float:right;color:#888;}
.server_tit .fu_txt{border:1px solid #888;background:#fff;color:#a64b26;}
.server_tit h3{float:left;height:54px;line-height:54px;font-size:16px;color:#666;font-family:\5FAE\8F6F\96C5\9ED1;font-weight:normal}
.server_nav{padding:10px 0 0 8px;}
.server_nav li{float:left;width:92px;height:36px;line-height:36px;text-align:center;margin:10px 10px 0 0;font-size:16px;color:#fff;cursor:pointer;background:#333737;}
.server_nav li.cur{background:#38a6d6;color:#fff;}
.server_nav li.cur a {color:#fff;}
.server_wrap{height:530px;overflow:auto;margin-top:24px}
.server_con{padding-bottom: 10px;}
.server_con li{float:left;width:186px;height:37px;padding:8px 23px 8px 0;overflow: hidden;}
.server_con a{display:block;width:186px;height:37px;font-size:13px;font-family:\5FAE\8F6F\96C5\9ED1;color:#fff95c;line-height:37px;background-position:0 -140px;}
.server_con a:hover{text-decoration:none;color:#fff95c;background-position:0 -190px;}
.server_con a span{float:left;cursor:pointer;width:86px;margin:0 0 0 25px;color:#fff;}
.server_zui{padding-top:12px;}
.server_zui li{width:310px;height:51px;padding:0 10px 0 6px;}

.dot_ul{padding:20px 10px 0;height:150px;overflow:hidden;}
.dot_ul li{float:left;width:100%;height:25px;line-height:25px;overflow:hidden}
.dot_ul a{margin-left:6px;color:#8b8f9b;}
.dot_ul a:hover{color:#e97c4f;}
.box_link{width:960px;margin:10px auto 0;padding:6px 10px;line-height:2.0;color:#a1a1a1;}
.box_link a{margin:0 3px;display:inline-block;white-space:nowrap;color:#a1a1a1}